body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #F8F2E4;
  color: #8395a7;
}

h1 {
  color: #7A6E58;  
  font-weight: 300;
  text-shadow: none;
  background: transparent;
}
